.c-transaction-table {
  flex: 0 1 100%;
  overflow: hidden;

  .ReactVirtualized__Table__headerRow {
    padding: 0px;
    padding: 10px 0px;
  }

  .ReactVirtualized__Table__Grid {
    outline: none;
  }

  .ReactVirtualized__Table__headerColumn {
    display: flex;
    align-items: center;
    flex-shrink: 0 !important;

    &:last-child > .ReactVirtualized__Table__headerTruncatedText {
      overflow: visible;
    }
  }

  .ReactVirtualized__Table__rowColumn {
    text-overflow: clip;

    &:last-child {
      overflow: visible !important;
    }
  }

  .ReactVirtualized__Table__headerTruncatedText {
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    box-sizing: border-box;
  }

  .ReactVirtualized__Table__row {
    width: 100% !important;

    &.odd {
      background-color: transparentize(#fff, 0.95);
    }
    &.even {
      background-color: transparentize(#000, 0.95);
    }
  }

  .DragHandle {
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 16px;
    text-align: center;

    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: transparentize(#ffffff, 0.75);
    }
  }
}
