@import "variables";

.c-transactionview {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;

  .sub-header {
    display: flex;
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: $input-bg-color;
    justify-content: space-between;

    > .date-pickers {
      flex: 0 0 180px;
      display: flex;
      align-items: stretch;

      > * {
        margin-right: 4px;
      }

      > span {
        display: flex;
        align-items: center;
      }

      .c-datepicker:hover {
        background-color: $dark-workspace-bg-color;
      }
    }

    .c-search {
      flex: 0 1 50%;
    }
  }
}
